html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 70px;
  margin-bottom: 80px;
  font-size:16px;
}
.clickable-row {cursor:pointer;}
.glow:hover { background-color:#e7e7e7; }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  color: #aaa;
  background-color: #000;
  padding-top:20px;
  font-size:14px;
}
.footer a { color: #fff; }
.highlight_search {background-color:#ffff00;font-weight:bold;}
